<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://plugin.powerschool.pearson.com"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    description="Allow API Access for Student Contacts"
    name="Student Contacts API Auth"
    version="0.1.2"
    xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">

    <oauth></oauth>

    <access_request>
        <field table="u_student_contacts_staging" field="studentsdcid" access="FullAccess"/>
        <field table="u_student_contacts_staging" field="residence_street" access="FullAccess"/>
        <field table="u_student_contacts_staging" field="notes" access="FullAccess"/>
        <field table="u_student_contacts_staging" field="legal_guardian" access="FullAccess"/>
        <field table="u_student_contacts_staging" field="mailing_street" access="FullAccess"/>
        <field table="u_student_contacts_staging" field="mailing_city" access="FullAccess"/>
        <field table="u_student_contacts_staging" field="contactdcid" access="FullAccess"/>
        <field table="u_student_contacts_staging" field="status" access="FullAccess"/>
        <field table="u_student_contacts_staging" field="id" access="FullAccess"/>
        <field table="u_student_contacts_staging" field="first_name" access="FullAccess"/>
        <field table="u_student_contacts_staging" field="contact_id" access="FullAccess"/>
        <field table="u_student_contacts_staging" field="residence_state" access="FullAccess"/>
        <field table="u_student_contacts_staging" field="priority" access="FullAccess"/>
        <field table="u_student_contacts_staging" field="relationship" access="FullAccess"/>
        <field table="u_student_contacts_staging" field="mailing_state" access="FullAccess"/>
        <field table="u_student_contacts_staging" field="residence_zip" access="FullAccess"/>
        <field table="u_student_contacts_staging" field="residence_city" access="FullAccess"/>
        <field table="u_student_contacts_staging" field="mailing_zip" access="FullAccess"/>
        <field table="u_student_contacts_staging" field="last_name" access="FullAccess"/>
        <field table="u_student_contacts_staging" field="corres_lang" access="FullAccess"/>
        <field table="u_student_contacts_staging" field="employer" access="FullAccess"/>
        <field table="u_sc_email_staging" field="contactdcid" access="FullAccess"/>
        <field table="u_sc_email_staging" field="email_address" access="FullAccess"/>
        <field table="u_sc_email_staging" field="id" access="FullAccess"/>
        <field table="u_sc_email_staging" field="opts_attendance" access="FullAccess"/>
        <field table="u_sc_email_staging" field="opts_emergency" access="FullAccess"/>
        <field table="u_sc_email_staging" field="opts_general" access="FullAccess"/>
        <field table="u_sc_email_staging" field="opts_high_priority" access="FullAccess"/>
        <field table="u_sc_email_staging" field="opts_survey" access="FullAccess"/>
        <field table="u_sc_email_staging" field="studentsdcid" access="FullAccess"/>
        <field table="u_sc_phone_staging" field="contactdcid" access="FullAccess"/>
        <field table="u_sc_phone_staging" field="id" access="FullAccess"/>
        <field table="u_sc_phone_staging" field="opts_text_attendance" access="FullAccess"/>
        <field table="u_sc_phone_staging" field="opts_text_emergency" access="FullAccess"/>
        <field table="u_sc_phone_staging" field="opts_text_general" access="FullAccess"/>
        <field table="u_sc_phone_staging" field="opts_text_high_priority" access="FullAccess"/>
        <field table="u_sc_phone_staging" field="opts_text_survey" access="FullAccess"/>
        <field table="u_sc_phone_staging" field="opts_voice_attendance" access="FullAccess"/>
        <field table="u_sc_phone_staging" field="opts_voice_emergency" access="FullAccess"/>
        <field table="u_sc_phone_staging" field="opts_voice_general" access="FullAccess"/>
        <field table="u_sc_phone_staging" field="opts_voice_high_priority" access="FullAccess"/>
        <field table="u_sc_phone_staging" field="opts_voice_survey" access="FullAccess"/>
        <field table="u_sc_phone_staging" field="phone_extension" access="FullAccess"/>
        <field table="u_sc_phone_staging" field="phone_number" access="FullAccess"/>
        <field table="u_sc_phone_staging" field="phone_priority" access="FullAccess"/>
        <field table="u_sc_phone_staging" field="phone_type" access="FullAccess"/>
        <field table="u_sc_phone_staging" field="studentsdcid" access="FullAccess"/>
        <field table="u_student_contacts" field="studentsdcid" access="FullAccess"/>
        <field table="u_student_contacts" field="residence_street" access="FullAccess"/>
        <field table="u_student_contacts" field="notes" access="FullAccess"/>
        <field table="u_student_contacts" field="legal_guardian" access="FullAccess"/>
        <field table="u_student_contacts" field="mailing_street" access="FullAccess"/>
        <field table="u_student_contacts" field="mailing_city" access="FullAccess"/>
        <field table="u_student_contacts" field="contactdcid" access="FullAccess"/>
        <field table="u_student_contacts" field="status" access="FullAccess"/>
        <field table="u_student_contacts" field="id" access="FullAccess"/>
        <field table="u_student_contacts" field="first_name" access="FullAccess"/>
        <field table="u_student_contacts" field="contact_id" access="FullAccess"/>
        <field table="u_student_contacts" field="residence_state" access="FullAccess"/>
        <field table="u_student_contacts" field="priority" access="FullAccess"/>
        <field table="u_student_contacts" field="relationship" access="FullAccess"/>
        <field table="u_student_contacts" field="mailing_state" access="FullAccess"/>
        <field table="u_student_contacts" field="residence_zip" access="FullAccess"/>
        <field table="u_student_contacts" field="residence_city" access="FullAccess"/>
        <field table="u_student_contacts" field="mailing_zip" access="FullAccess"/>
        <field table="u_student_contacts" field="last_name" access="FullAccess"/>
        <field table="u_student_contacts" field="corres_lang" access="FullAccess"/>
        <field table="u_student_contacts" field="employer" access="FullAccess"/>
        <field table="u_sc_email" field="contactdcid" access="FullAccess"/>
        <field table="u_sc_email" field="email_address" access="FullAccess"/>
        <field table="u_sc_email" field="id" access="FullAccess"/>
        <field table="u_sc_email" field="opts_attendance" access="FullAccess"/>
        <field table="u_sc_email" field="opts_emergency" access="FullAccess"/>
        <field table="u_sc_email" field="opts_general" access="FullAccess"/>
        <field table="u_sc_email" field="opts_high_priority" access="FullAccess"/>
        <field table="u_sc_email" field="opts_survey" access="FullAccess"/>
        <field table="u_sc_email" field="studentsdcid" access="FullAccess"/>
        <field table="u_sc_phone" field="contactdcid" access="FullAccess"/>
        <field table="u_sc_phone" field="id" access="FullAccess"/>
        <field table="u_sc_phone" field="opts_text_attendance" access="FullAccess"/>
        <field table="u_sc_phone" field="opts_text_emergency" access="FullAccess"/>
        <field table="u_sc_phone" field="opts_text_general" access="FullAccess"/>
        <field table="u_sc_phone" field="opts_text_high_priority" access="FullAccess"/>
        <field table="u_sc_phone" field="opts_text_survey" access="FullAccess"/>
        <field table="u_sc_phone" field="opts_voice_attendance" access="FullAccess"/>
        <field table="u_sc_phone" field="opts_voice_emergency" access="FullAccess"/>
        <field table="u_sc_phone" field="opts_voice_general" access="FullAccess"/>
        <field table="u_sc_phone" field="opts_voice_high_priority" access="FullAccess"/>
        <field table="u_sc_phone" field="opts_voice_survey" access="FullAccess"/>
        <field table="u_sc_phone" field="phone_extension" access="FullAccess"/>
        <field table="u_sc_phone" field="phone_number" access="FullAccess"/>
        <field table="u_sc_phone" field="phone_priority" access="FullAccess"/>
        <field table="u_sc_phone" field="phone_type" access="FullAccess"/>
        <field table="u_sc_phone" field="studentsdcid" access="FullAccess"/>
    </access_request>

    <publisher name="Iron County School District Data Team">
        <contact email="data@ironmail.org"/>
    </publisher>
</plugin>
